@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.like_btn {
  padding: 10px 15px;
  background: #2369ff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  color: #f3f7ff;
  outline: none;
  border: none;
  cursor: pointer;
}